<!DOCTYPE html>
<html>
<body>

<h2>Classes I took in 2020 Spring Semester</h2>

<ul>
  <li>COMSW3203: Discrete Mathematics</li>
  <li>COMSW3134: Data Structures in Java</li>
  <li>ENGIE1006: Intro to Comp for Eng/App Sci</li>
  <li>ENGLUN3394: How Writers Think</li>
</ul>  

<p> My favorite class this semester was my only non-major class:
 How Writers Think. I used to be scared of writing because 
 I was not a good writer. This class taught me the writing skills
 from a compositional studies' perspective. I am more 
 confident in writing from now on because of this class. <p>
</body>
</html>
