<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Walden's Personal Info</title>
    <head>
    <body>
    <p>Name: Walden</p>
    
    <img src="https://p16-va-default.akamaized.net/img/musically-maliva-obj/1664099261740038~c5_1080x1080.jpeg" alt="Walden" align = "middle" width="246" height="246">
    
    <p>School: Columbia University School of General Studies</p>
    
    <p>Grade: Rising Junior</p>
    
    <p>Major: Computer Science</p>
    
    <p> <a href="http://127.0.0.1:5000/Assignments">Here are my other pages</a> <p>
    
    <p> <a href="https://space.bilibili.com/406621430?from=search&seid=7152010005655670882"> My Food Channel in China! </a> <p>

    </body>
</html>